# =============================================================================
# Configuration pour l'application LLMAgents
# =============================================================================

# --- Configuration de la base de données MySQL ---
DB_HOST=mysql
DB_PORT=3306
DB_NAME=m3c_database
DB_USER=OBL
DB_PASSWORD=azerty

# --- Configuration de Qdrant ---
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# --- Configuration de l'API FastAPI ---
API_HOST=0.0.0.0
API_PORT=8000

# LLM API keys
MISTRAL_API_KEY=""
GROQ_API_KEY=""
GEMINI_API_KEY=""

